./assets
/assets/
/tests/integration/cli/
!/tests/format/**/jsfmt.spec.js
!/**/vue-shims.d.ts
!/**/.eslintrc.js
/test*.*
/scripts/release/node_modules
/coverage/
/dist/
**/node_modules/**
/x-unsupported/website/build/
/x-unsupported/website/static/playground.js
/x-unsupported/website/static/lib/
assets
**/assets/**
/playwright-report/
/test-results/
/test=examples/
windi.config.ts
public
node_modules
nuxt
nuxi dev
dist
dist-ssr
coverage
Procfile
.nuxt
.nitro
.cache
.output
.env
.DS_Store
.vite
*.yaml
*.local
*.log*
*.jpg
*.gif
*.png
*.json
*.md
